node_modules
typechain
target
tests/test-runner/Cargo.lock
tests/dockerfile/gravity.tar
tests/dockerfile/gravity
tests/dockerfile/test-runner
solidity/dist
orchestrator/bins
tests/assets/*.log
module/build
module/build_consumer

# IDE files
.idea/
module/vendor

#Hardhat files
cache
artifacts
*.test
*-stamp

#build artifacts
/module/artifacts

.cargo/config.toml
