name: Integration tests

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

# the old `action-docker-layer-caching` repo was unmaintained, found https://github.com/satackey/action-docker-layer-caching/issues/347 as an alternative
jobs:
  # this is the standard test, which is the only one without `skip-save: true` so we don't waste a
  # lot of resources saving the same thing for every test
  happy-path-geth:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        with:
          continue-on-error: true
      - name: Prune cache to keep the size down
        run: docker builder prune -af && docker system prune -af
      - name: Run all up happy-path test
        run: tests/all-up-test.sh
  # these other tests before the matrix have special requirements
  happy-path-hardhat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        with:
          skip-save: true
          continue-on-error: true
      - name: Run all up happy-path test
        run: tests/all-up-test.sh
        env:
          HARDHAT: True
  relay-market:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        with:
          skip-save: true
          continue-on-error: true
      - name: Run all up relay market test
        run: tests/all-up-test.sh RELAY_MARKET $ALCHEMY_ID
        env:
          ALCHEMY_ID: ${{ secrets.ALCHEMY_ID }}
  all-up-test-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name:
          [
            VALIDATOR_OUT,
            VALSET_STRESS,
            BATCH_STRESS,
            REMOTE_STRESS_FOR_CI,
            HAPPY_PATH_V2,
            ORCHESTRATOR_KEYS,
            VALSET_REWARDS,
            EVIDENCE,
            TXCANCEL,
            INVALID_EVENTS,
            UNHALT_BRIDGE,
            PAUSE_BRIDGE,
            DEPOSIT_OVERFLOW,
            ETHEREUM_BLACKLIST,
            AIRDROP_PROPOSAL,
            SIGNATURE_SLASHING,
            SLASHING_DELEGATION,
            IBC_METADATA,
          ]
    steps:
      - uses: actions/checkout@v2
      - uses: jpribyl/action-docker-layer-caching@v0.1.1
        with:
          skip-save: true
          continue-on-error: true
      - name: Run all up ${{ matrix.name }} test
        run: tests/all-up-test.sh ${{ matrix.name }}
